! Enable Dummy FNF for top talker collection
flow record TELEMETRY-FNF-RECORD
 match ipv4 source address
 match ipv4 destination address
 match interface input
 match transport destination-port
 match transport source-port
 match routing vrf input
 match ipv4 protocol
 match routing is-multicast
 match ipv4 tos
 collect counter bytes
 collect counter packets
 collect interface output
!
!
flow exporter TELEMETRY-FNF-EXPORT
  destination 100.64.99.99
{% if hostvars[inventory_hostname].ansible_net_model == "CSR1000V" %}
  source GigabitEthernet1
{% else %}
  source GigabitEthernet0/0/0.778
{% endif %}
  transport udp 9996
  option interface-table
  option application-table
!
!
flow monitor TELEMETRY-FNF-MONITOR
 exporter TELEMETRY-FNF-EXPORT
 cache timeout active 300
 record TELEMETRY-FNF-RECORD
!
!
ip route 100.64.99.99 255.255.255.255 Null0
!
{% if hostvars[inventory_hostname].ansible_net_model == "CSR1000V" %}
interface GigabitEthernet1
{% else %}
interface GigabitEthernet0/0/0.778
{% endif %}
 ip flow monitor TELEMETRY-FNF-MONITOR input
 ip flow monitor TELEMETRY-FNF-MONITOR output
 ip nbar protocol-discovery ipv4

netconf-yang
!
{% for i in [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120] %}
no telemetry ietf subscription {{ i }}
{% endfor %}
!
!
! Interface Subscription
telemetry ietf subscription 10
 encoding encode-kvgpb
 filter xpath /interfaces-ios-xe-oper:interfaces/interface
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 1000
 receiver ip address {{ COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! CPU Utilization and processes subscription
telemetry ietf subscription 20
 encoding encode-kvgpb
 filter xpath /process-cpu-ios-xe-oper:cpu-usage/cpu-utilization
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 1000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! Memory Statistic subscription
telemetry ietf subscription 30
 encoding encode-kvgpb
 filter xpath /memory-ios-xe-oper:memory-statistics/memory-statistic
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 3000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! Memory Usage processes subscription
telemetry ietf subscription 40
 encoding encode-kvgpb
 filter xpath /process-memory-ios-xe-oper:memory-usage-processes/memory-usage-process
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 6000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! BGP Address Family subscription
telemetry ietf subscription 50
 encoding encode-kvgpb
 filter xpath /bgp-ios-xe-oper:bgp-state-data/address-families/address-family
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 500
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! EIGRP Neighbor Subscription
telemetry ietf subscription 60
 encoding encode-kvgpb
 filter xpath /eigrp-ios-xe-oper:eigrp-oper-data/eigrp-instance/eigrp-interface/eigrp-nbr
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 500
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! OSPF Adjacency Subscription
 telemetry ietf subscription 70
 encoding encode-kvgpb
 filter xpath /ospf-ios-xe-oper:ospf-oper-data/ospfv2-instance/ospfv2-area/ospfv2-interface/ospfv2-neighbor
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 500
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! IP SLA Config
 telemetry ietf subscription 80
 encoding encode-kvgpb
 filter xpath /ios:native/ios:ip/ios-sla:sla/ios-sla:entry
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 30000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! IP SLA Metrics
telemetry ietf subscription 90
 encoding encode-kvgpb
 filter xpath /ip-sla-ios-xe-oper:ip-sla-stats/sla-oper-entry
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 6000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! Device Hardware Info
 telemetry ietf subscription 100
 encoding encode-kvgpb
 filter xpath /device-hardware-xe-oper:device-hardware-data
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 60000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! Device License Info
 telemetry ietf subscription 110
 encoding encode-kvgpb
 filter xpath /ios:native/ios:license
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 60000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp
 !
 ! Flexible Netflow Talkers
 telemetry ietf subscription 120
 encoding encode-kvgpb
 filter xpath /flow-monitor-ios-xe-oper:flow-monitors/flow-monitor[name='TELEMETRY-FNF-MONITOR']
 source-address {{ hostvars[inventory_hostname].ansible_host }}
 stream yang-push
 update-policy periodic 3000
 receiver ip address {{COLLECTOR_IP_ADDRESS }} {{ COLLECTOR_TCP_PORT }} protocol grpc-tcp